<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% admins.each do |admin|%>
      <%= render partial: "admins/row", locals: { admin: admin } %>
    <% end %>
  </tbody>
</table>
