<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>For Sale?</th>
      <th>Image</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item|%>
      <%= render partial: "items/row", locals: { item: item } %>
    <% end %>
  </tbody>
</table>

<%= render partial: "items/edit", locals: { item: items.last } %>
