<div class="admin">
  <div class="admin-gallery">
    <div class="admin-table">
      <h3 class="text-center">Galleries</h3>
      <%= render partial: "galleries/table", locals: { galleries: @galleries } %>
    </div>
    <div class="admin-form">
      <h3 class="text-center">Create Galleries</h3>
      <%= render partial: "galleries/form" %>
    </div>
  </div>
</div>
