.gallery-slider {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap
}

.owl-wrapper {
}

.item-link {
  width: 400px;
}

.item-link,
.gallery-link {
  vertical-align: top;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  img {
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
  }
  .item-name,
  .gallery-name {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background: rgb(100, 100, 100);
    background: rgba(100, 100, 100, 0.7);
  }
}

.gallery {
  .main-gallery-name {
    display: inline-block;
  }
  .main-gallery-description {
    margin-left: 20px;
    display: inline-block;
  }
}
