.sidebar-brand {
  display: block;
  img { width: 50px; }
}
nav {
  text-align: center;
}
.navbar {
  background-color: #646464;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 0 auto;
  hr { margin: 0; }
  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: inline-block;
    li {
      margin: 0;
      display: inline-block;
      a {
        width: 100%;
        color: white;
        margin: 0;
        padding: 5px 20px;
        display: inline-block;
        text-decoration: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        &:hover {
          background-color: #464646;
        }
      }
    }
  }
}

.page-content {
  width: 100%;
  padding: 20px;
  display: inline-block;
}
